
@font-face {
    font-family: "Albert Sans";
    src: url("../AlbertSans.ttf");
}
header {
    font-family: "Albert Sans", sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #ffffff;
}
body {
    background-color: #E60012;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: "Albert Sans", sans-serif;
}
.intro p {
    font-size: 1.1em;
    margin: 10px 0;
}
hr {
    border: 0;
    height: 3px;
    background-color: #ffffff;
    margin: 20px 0;
}
.showcase {
    padding: 3em;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E60012;
    
}
nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    font-family: "Albert Sans", sans-serif;
}
u {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 2px;
    text-decoration: none;
}